[project]
	description = Count the number of a specific word from a URL
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hczhang511
[access "refs/for/refs/*"]
	read = group user/hczhang511
	push = group user/hczhang511
	label-Code-Review = -2..+2 group user/hczhang511
	label-Verified = -1..+1 group user/hczhang511
	rebase = group user/hczhang511
	removeReviewer = group user/hczhang511
	submit = group user/hczhang511
[access "refs/heads/*"]
	read = group user/hczhang511
	create = group user/hczhang511
	push = +force group user/hczhang511
	pushMerge = group user/hczhang511
[access "refs/tags/*"]
	push = +force group user/hczhang511
	pushTag = group user/hczhang511
	pushSignedTag = group user/hczhang511
